<div class="row">
  <div class="large-12 large-centered columns">
    <h1 class="centered-text login-title">Log Ye In</h1>
  </div>
</div>

<div class="row">
  <div class="large-4 large-centered text-center columns">
    <div class="form">
      <%= form_for(:session, url: login_path) do |f| %>
        <%= f.label :email %>
        <%= f.text_field :email %> <br>

        <%= f.label :password %>
        <%= f.password_field :password %> <br>

        <%= f.submit "Login", class: "round button medium" %>
      <% end %>
    </div>
  </div>
</div>
