
<div class="large-12 large-centered columns">
  <%= form_for([:admin, @item], html: {multipart: true}) do |f| %>
    <%= f.label "title" %>
    <%= f.text_field "title" %><br>

    <%= f.label "description" %>
    <%= f.text_area "description" %><br>

    <%= f.label "price" %>
    <%= f.text_field "price" %><br>

    <% if @item.image.exists? %>
      <%= image_tag @item.image.url %><br/>
    <% end %>
    <%= f.label "image" %>
    <%= f.file_field "image" %><br>

    <%= f.label "status" %>
    <%= f.select(:status, options_for_select([["active", "active"], ["retired", "retired"]],"active")) %><br>

    <%= f.label "Categories" %>
    <% categories.each do |category| %>
      <%= f.check_box(:categories, { multiple: true }, category.id ) %>
      <%= label_tag(:categories, category.name) %>
    <% end %><br>

    <% if @item.id %>
      <%= f.submit "Finished", method: :put, :class => "button round small" %>
    <% else %>
      <%= f.submit "Finished", :class => "button round small" %>
    <% end %>
  <% end %>
</div>
