<div class="row">
  <div class="large-12 large-centered columns">
    <h3 class="centered-text filter">Your Menu Items:</h3>
  </div>
</div>

<div class="large-12 centered-text ">
  <%= button_to "Add New Item", new_admin_item_path, method: :get, class: "round button large" %>
</div>

<% @items.each_slice(4) do |slice| %>
  <div class="row items">
    <% slice.each do |item| %>
      <div class="large-3 columns">
        <p>
          <%= image_tag item.image.url(:medium) %>
          <%= link_to item.title, admin_item_path(item) %>: <%= number_to_currency(item.price, unit: "$") %><br>
          Item is "<%= item.status %>"<br>
          <%= item.description %>
          <%= button_to "Edit Item", edit_admin_item_path(item), method: :get, class: "round button tiny" %>
        </p>
      </div>
  <% end %>
  </div>
<% end %>

<div class="large-12 centered-text ">
  <%= button_to "Add New Item", new_admin_item_path, method: :get, class: "round button large" %>
</div>
