<div class="row">
  <div class="large-12 large-centered columns">
    <h1 class="centered-text admin-menu">Thy Menu</h1>
  </div>
</div>

<div class="large-12 centered-text add-new-item">
  <%= link_to "Add New Item", new_admin_item_path %>
</div>

<div class="centered-text items">
  <% @items.each_slice(4) do |slice| %>
    <table>
      <tr class="item-title">
        <% slice.each do |item| %>
          <td><%= link_to item.title, item_path(item) unless item.id.nil? %></td>
        <% end %>
      </tr>

      <tr class="item-status">
        <% slice.each do |item| %>
          <td>Status: <%= item.status %></td>
        <% end %>
      </tr>

      <tr class="item-price">
        <% slice.each do |item| %>
            <td><%= number_to_currency(item.price, unit: "$") %></td>
        <% end %>
      </tr>

      <tr class="item-image">
        <% slice.each do |item| %>
            <td><%= image_tag item.image.url %></td>
        <% end %>
      </tr>

      <tr class="item-description">
        <% slice.each do |item| %>
            <td><p><%= item.description %><p></td>
        <% end %>
      </tr>

      <tr class="add-to-cart">
        <% slice.each do |item| %>
          <td><%= link_to "Edit", edit_admin_item_path(item) unless item.id.nil? %></td>
        <% end %>
      </tr>
    </table>
  <% end %>
</div>
