<div class="row">
  <div class="large-12 columns centered-text categories">
    <br>
    <br>
    <h1><%= @item.title %></h1>
    <% @item.categories.each do |category| %>
      <%= category.name %>
    <% end %>
    <br>
    <p><%= image_tag @item.image.url %></p>
    <br>
    <h2>$<%= @item.price %></h2>
    <br>
    <h4><%= @item.description %></h4>
    <br>
    <% if @item.status == "retired" %>
      <h4>This item has been retired</h4>
    <% end %>
    <br>
    <div id="nav_links">
      <h4><%= link_to "<< Back", admin_items_path %> | <%= link_to "Edit >>", edit_admin_item_path(@item) %></h4>
    </div>
  </div>
</div>
