
<div class="row">
  <div class="large-12 large-centered columns">
    <h1 class="centered-text admin-welcome">Welcome, <%= @admin.display_name %></h1>
  </div>
</div>

<br>
<br>

<div class="row account_details">
  <div class="large-12 columns">
    <table>
      <thead>
        <tr>
          <th colspan="3" class="centered-text">
            <ul class="account_details">
              <li class="account_details">Account Details</li>
              <li class="account_details">
                <%= link_to "Edit", edit_admin_path(@admin), method: :get, class: "account_details" %>
              </li>
            </ul>
          </th>
        </tr>
        <tr>
          <th class="centered-text">Full Name</th>
          <th class="centered-text">User Name</th>
          <th class="centered-text">Email</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td class="centered-text"><%= @admin.full_name %></td>
          <td class="centered-text"><%= @admin.user_name %></td>
          <td class="centered-text"><%= @admin.email%></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<br>
<br>

<div class="row">
  <div class="large-12 large-centered columns">
    <div class="centered-text admin-welcome">What's on the agenda?</div>
  </div>
</div>

<div class="row">
  <div class="large-12 columns centered-text">
    <ul>
      <li class="admin_buttons"><%= button_to "Orders", admin_orders_path, method: :get, class: "button large round" %></li>
      <li class="admin_buttons"><%= button_to "Your Menu", admin_items_path, method: :get, class: "button large round" %></li>
      <li class="admin_buttons"><%= button_to "Categories", admin_categories_path, method: :get, class: "button large round" %></li>
    </ul>
  </div>
</div>
