<div class="row">
  <div class="large-12 large-centered columns">
    <h1 class="centered-text orders-welcome">
      All Orders
    </h1>
  </div>
</div>

<div class="row">
  <div class="large-12 columns centered-text order">
    <p class="order-status">
      "Ordered": <%= @ordered %>
    </p>
    <p class="order-status">
      "Paid": <%= @cancelled %>
    </p>
    <p class="order-status">
      "Cancelled": <%= @cancelled %>
    </p>
    <p class="order-status">
      "Completed": <%= @completed %>
    </p>
  </div>
</div>

<div class="row">
  <div class="large-12 columns centered-text">
    <h3 class="large-12 columns filter">
      <button href="#" data-dropdown="drop1" aria-controls="drop1" aria-expanded="false" class="button dropdown"><%= @dropdown %></button><br>
      <ul id="drop1" data-dropdown-content class="f-dropdown" aria-hidden="true">
        <% @statuses.each do |status|%>
          <li><%= link_to status, admin_orders_path(status: status), method: :get %></li>
        <% end %>
      </ul>
    </h3>
  </div>
</div>

<% @orders.each do |order| %>
  <div class="row">
    <div class="large-12 columns centered-text">
      <div class="order-global">
        <div class="order-name">
          <%= link_to "Order: #{order.id}", admin_order_path(order), class: "order-item-title" %>
        </div>
        <div class="order-status">
          <%= order.status %>
        </div><br>
        <div class="order-status-dropdown">
          <% if order.status == "ordered" || order.status == "paid" %>
            <%= form_for([:admin, order]) do |f| %>
              <%= f.label "Update Order Status", class: "form-label" %>
              <% if order.status == "ordered" %>
                <%= f.select(:status, options_for_select([[" ", " "], ["paid", "paid"], ["cancelled", "cancelled"]])) %>
              <% else %>
                <%= f.select(:status, options_for_select([[" ", " "], ["completed", "completed"], ["cancelled", "cancelled"]])) %>
              <% end %>
              <%= f.submit "Update", method: :put, class: "button round small"  %>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
  </div>
<% end %>
</div>
</div>
