<div class="row">
  <div class="large-12 large-centered columns">
    <h1 class="centered-text">All Orders</h1>
  </div>
</div>

</div>
<p>
  Status "Ordered": <%= @orders.ordered.count %>
  Status "Paid": <%= @orders.paid.count %>
  Status "Cancelled": <%= @orders.cancelled.count %>
  Status "Completed": <%= @orders.completed.count %>
</p>

<% @orders.each do |order| %>
<ul>
  <li>
    <%= link_to "Order: #{order.id}", admin_order_path(order) %>
  </li>
</ul>
<% end %>
