<div class="row">
  <div class="large-12 large-centered columns">
    <h1 class="centered-text">All Orders</h1>
  </div>
</div>

<div class="row">
  <div class="large-12 columns centered-text">
    <p>
      Status "Ordered": <%= Order.ordered %><br>
      Status "Paid": <%= Order.paid %><br>
      Status "Cancelled": <%= Order.cancelled %><br>
      Status "Completed": <%= Order.completed %><br>
    </p>
  </div>
</div>

<div class="row">
  <div class="large-12 columns centered-text">
    <h3 class="large-12 columns filter">
      <button href="#" data-dropdown="drop1" aria-controls="drop1" aria-expanded="false" class="button dropdown"><%= @dropdown %></button><br>
      <ul id="drop1" data-dropdown-content class="f-dropdown" aria-hidden="true">
        <% @statuses.each do |status|%>
          <li><%= link_to status, admin_orders_path(status: status), method: :get %></li>
        <% end %>
      </ul>
    </h3>
  </div>
</div>

<div class="row">
  <div class="large-12 columns centered-text">
    <% @orders.each do |order| %>
      <ul>
        <li class="order">
          <%= link_to "Order: #{order.id}", admin_order_path(order) %>: <%= order.status %><br>
          <%= form_for([:admin, order]) do |f| %>
            <%= f.label "Update Order Status" %>
            <% if order.status == "ordered" || order.status == "paid" %>
              <% if order.status == "ordered" %>
                <%= f.select(:status, options_for_select([[" ", " "], ["paid", "paid"], ["cancelled", "cancelled"]])) %>
              <% else %>
                <%= f.select(:status, options_for_select([[" ", " "], ["completed", "completed"], ["cancelled", "cancelled"]])) %>
              <% end %>
            <% end %>
            <%= f.submit "Update", method: :put, class: "button round small"  %>
          <% end %>
        </li>
      </ul>
    <% end %>
  </div>
</div>
