
<div class="row">
  <div class="large-12 columns centered-text">
    <br>
    <h1>Your Order:</h1>
    <br>
    <h3>Customer Name: <%= @order.user.full_name %></h3><br>

    <% @order.items.uniq.each do |item| %>
      <li><%= link_to "#{item.title}", item_path(item) %>: <%= number_to_currency(item.price, unit: "$") %> x <%= @order.quantity(item) %>.....<%= (number_to_currency((item.price * @order.quantity(item)), unit: "$")) %></li>
    <% end %>
    <br>
    <h3>Order Total: $<%= @order.total_price %></h3><br>
    <h3>Order Status: <%= @order.status %></h3><br>
    <h3>Order Submitted: <%= @order.created_at.strftime("%I:%M%p on %m/%d/%Y") %></h3><br>
    <% if @order.status == "completed" || @order.status == "cancelled" %>
      <h3>Order Status Updated to "<%= @order.status %>": <%= @order.updated_at.strftime("%I:%M%p on %m/%d/%Y") %></h3>
    <% end %>
  </div>
</div>
