
<div class="row">
  <div class="large-12 columns centered-text">
    <div class="order-title">
      <h1>Thy Order:</h1>
      <p><%= @order.user.full_name %></p>
    </div>

    <div class="order-details">
      <div class="order-total-price">
        Order Total: $<%= @order.total_price %>
      </div>
      <div class="order-status">
        Order Status: <%= @order.status %>
      </div>
      <div class="order-submitted">
        Order Submitted: <%= @order.created_at.strftime("%I:%M%p on %m/%d/%Y") %>
      </div>
      <div class="order-updated">
        <% if @order.status == "completed" || @order.status == "cancelled" %>
          Order Status Updated to "<%= @order.status %>": <%= @order.updated_at.strftime("%I:%M%p on %m/%d/%Y") %>
        <% end %>
      </div>
    </div>

    <div class="order-title">
      <h1>Thy Items Ordered:</h1>
    </div>
    
    <div class="items-from-order">
      <% @order.items.uniq.each do |item| %>
        <div class="order-item">
          <div class="order-item-title">
            <%= link_to "#{item.title}", item_path(item) %>
          </div>
          <div class="item-price">
            <%= number_to_currency(item.price, unit: "$") %> x qty (<%= @order.quantity(item) %>)
          </div>
          <div class="cart-item-total">
            <%= (number_to_currency((item.price * @order.quantity(item)), unit: "$")) %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
