
<div class="row">
  <div class="large-12 columns centered-text">
    <br>
    <h1>Your Order:</h1>
    <br>
    <h3>Customer Name: <%= @order.user.full_name %></h3><br>
    
    <% @order.order_items.each do |order_item| %>
      <li><%= link_to "#{order_item.item.title}", item_path(order_item.item) %>: $<%= order_item.item.price %> x <%= order_item.quantity %>.....$<%= (order_item.item.price * order_item.quantity) %></li>
    <% end %>
    <br>
    <h3>Order Total: $<%= @order.total_price %></h3><br>
    <h3>Order Status: <%= @order.status %></h3><br>
    <h3>Order Submitted: <%= @order.created_at %></h3>
  </div>
</div>
