
<div class="row">
  <div class="large-12 columns centered-text">
    <br>
  <h1>Shopping Cart</h1>
    <br>

    <%= button_to "Checkout", "#", class: "round button small" %><br><br>

    <% @cart.item_quantities.each do |k, v| %>
      <%= k.title %> (<%= number_to_currency(k.price, unit: "$") %>) x <%= v %>..........<%= number_to_currency(k.price * v, unit: "$") %><br><br>
      <%= button_to "-1", cart_path(item_id: k.id), method: :delete, class: "button round tiny" %>
      <%= button_to "+1", cart_path(item_id: k.id), method: :put, class: "button round tiny" %><br><br>
    <% end %>
  </div>
</div>
