
<div class="row">
  <div class="large-12 columns centered-text">
    <div class="cart">
      <br>
      <h1>Thy Cart Contents</h1><br>
      <br>

      <% if current_user %>
        <%= button_to "Checkout", orders_path, class: "round button small" %><br><br>
      <% else %>
        <%= button_to "Checkout", login_path, class: "round button small", method: :get %><br><br>
      <% end %>
      
      <% @cart.item_quantities.each do |k, v| %>
        <div class="item-title">
          <%= k.title %>
        </div>
        <div class="item-price">
          <%= number_to_currency(k.price, unit: "$") %> x qty (<%= v %>)
        </div>
        <div class="cart-item-total">
          <%= number_to_currency(k.price * v, unit: "$") %>
        </div>
        <div class="cart-buttons">
        <%= button_to "-1", cart_path(item_id: k.id), method: :delete, class: "button round tiny quantity" %>
        </div>
        <div class="cart-buttons">
        <%= button_to "+1", cart_path(item_id: k.id), method: :put, class: "button round tiny quantity" %>
        </div>
      <% end %>
    </div>
  </div>
</div>
