
<div class="row">
  <div class="large-12 columns centered-text">
    <br>
  <h1>Shopping Cart</h1>
    <br>

    <% if current_user %>
      <%= button_to "Checkout", "#", class: "round button small" %><br><br>
    <% else %>
      <%= button_to "Checkout", login_path, class: "round button small", method: :get %><br><br>
    <% end %>

    <% @cart.item_quantities.each do |k, v| %>
      <%= link_to "#{k.title}", k %> ($<%= k.price %>) x <%= v %>..........$<%= k.price*v %><br><br>
      <%= button_to "-1", cart_path(item_id: k.id), method: :delete, class: "button round tiny quantity" %>
      <%= button_to "+1", cart_path(item_id: k.id), method: :put, class: "button round tiny quantity" %><br><br>
    <% end %>
  </div>
</div>
