
<div class="row">
  <div class="large-12 columns centered-text">
    <br>
  <h1>Your Shopping Cart</h1>
    <br>

    <% if current_user %>
      <%= button_to "Checkout", orders_path, class: "round button small" %><br><br>
    <% else %>
      <%= button_to "Checkout", login_path, class: "round button small", method: :get %><br><br>
    <% end %>

    <% @cart.item_quantities.each do |k, v| %>
      <%= k.title %> (<%= number_to_currency(k.price, unit: "$") %>) x <%= v %>..........<%= number_to_currency(k.price * v, unit: "$") %><br><br>
      <%= button_to "-1", cart_path(item_id: k.id), method: :delete, class: "button round tiny quantity" %>
      <%= button_to "+1", cart_path(item_id: k.id), method: :put, class: "button round tiny quantity" %><br><br>
    <% end %>
  </div>
</div>
