<div class="padder">
  <div class="row">
    <div class="large-12 columns centered-text">
      <h3 class="large-12 columns filter">Select thy fare!</h3>
      <button href="#" data-dropdown="drop1" aria-controls="drop1" aria-expanded="false" class="button dropdown"><%= @dropdown %></button><br>
      <ul id="drop1" data-dropdown-content class="f-dropdown" aria-hidden="true">
        <% @categories.each do |category|%>
          <li><%= link_to category.name, items_path(category_id: category) %></li>
        <% end %>
      </ul>
    </div>
  </div>
</div>

<div class="centered-text items">
  <% @items.each_slice(4) do |slice| %>
    <table>
      <tr class="item-title">
        <% slice.each do |item| %>
          <td><%= link_to item.title, item_path(item) %></td>
        <% end %>
      </tr>

      <tr class="item-price">
        <% slice.each do |item| %>
            <td><%= number_to_currency(item.price, unit: "$") %></td>
        <% end %>
      </tr>

      <tr class="item-image">
        <% slice.each do |item| %>
            <td><%= image_tag item.image.url %></td>
        <% end %>
      </tr>

      <tr class="item-description">
        <% slice.each do |item| %>
            <td><p><%= item.description %><p></td>
        <% end %>
      </tr>

      <tr class="add-to-cart">
        <% slice.each do |item| %>
            <td><%= link_to "Add To Cart", cart_path(item_id: item.id), class: "" %></td>
        <% end %>
      </tr>
    </table>
  <% end %>
</div>
