<div class="row">
  <div class="large-12 columns centered-text categories">
    <div class="item-title">
      <%= @item.title %>
    </div>
  </div>
</div>

<div class="row">
  <div class="large-12 columns centered-text categories">
    <div class="item-show-price">
      <%= number_to_currency(@item.price, unit: "$") %>
    </div>
  </div>
</div>

<div class="row">
  <div class="large-12 columns centered-text categories">
    <% @item.categories.each do |category| %>
      <div class="item-categories"><%= category.name %><br></div>
    <% end %>
  </div>
</div>

<div class="row">
  <div class="large-12 columns large-centered categories image-show">
    <div class="item-show-image">
      <p><%= image_tag @item.image.url %></p>
    </div>
  </div>
</div>

<div class="row">
  <div class="large-12 columns centered-text categories">
    <div class="item-show-description">
      <%= @item.description %>
    </div>
  </div>
</div>


<div class="row">
  <div id="nav_links" class="large-12 columns centered-text">
    <div class="back-link">
      <%= link_to "<< Return ye to the feast!", items_path %>
    </div>
  </div>
</div>
