<div class="row">
  <div class="large-12 columns centered-text">
    <br>
    <br>
    <h1><%= @item.title %></h1>
    <ul class="categories">
      <% @item.categories.each do |category| %>
        <li><%= category.name %></li>
      <% end %>
    </ul>
    <br>
    <p><%= image_tag @item.image.url %></p>
    <br>
    <h2><%= number_to_currency(@item.price, unit: "$") %></h2>
    <br>
    <h4><%= @item.description %></h4>
    <br>
    <% if @item.status == "retired" %>
      <h4>This item has been retired</h4>
    <% end %>
    <br>
    <h4><%= link_to "<< Back", items_path %></h4>
  </div>
</div>
