
<div class="row">
  <div class="large-12 columns centered-text">
    <br>
    <br>
    <h1><%= @item.title %></h1>
    <br>
    <p><%= image_tag @item.image.url %></p>
    <br>
    <h2>$<%= @item.price %></h2>
    <br>
    <h4><%= @item.description %></h4>
    <br>
    <% if @item.status == "retired" %>
      <h4>This item has been retired</h4>
    <% end %>
    <br>
    <h4><%= link_to "<< Back", items_path %></h4>
  </div>
</div>
