<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>Mythical Eatures</title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= javascript_include_tag "application", 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
    <script src="js/vendor/modernizr.js"></script>

  </head>

<body>

<nav class="top-bar" data-topbar role="navigation">
  <section class="top-bar-section">
    <div class="right">
      <ul>
        <% if current_admin? %>
          <li class="home nav-item"><%= link_to "Home", admin_path %></li>
          <li class="orders nav-item"><%= link_to "Orders", admin_orders_path %></li>
          <li class="menu nav-item"><%= link_to "Menu", admin_items_path %></li>
          <li class="categories nav-item"><%= link_to "Categories", admin_categories_path %></li>
        <% else %>
          <% if current_user %>
            <li class="past orders nav-item"><%= link_to "Past Orders", orders_path %></li>
            <li class="backpack-count nav-item"><%= link_to "Your Cart (#{@cart.count_all})", cart_path %></li>
          <% else %>
            <li class="backpack-count nav-item"><%= link_to "Your Cart (#{@cart.count_all})", cart_path %></li>
          <% end %>
        <% end %>
      </ul>
    </div>
    <div class="left">
      <ul>
      <% if current_user %>
        <li class="nav-item"><%= link_to "Logout", logout_path, method: :delete %></li>
      <% else %>
        <li class="nav-item"><%= link_to "Login", login_path %></li>
      <% end %>
      <li class="nav-item"><%= link_to "Feast", items_path %></li>
      </ul>
    </div>
  </section>
</nav>

<div class="container">
  <div class="large-12 columns centered-text">
    <h1 class="title">Mythical Eatures</h1>
  </div>
</div>

</div>

<div class="flash-notice">
    <%= flash.notice %>
</div>
    <%= yield %>

  </body>
</html>
