<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>Mythical Eatures</title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= javascript_include_tag "application", 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
    <script src="js/vendor/modernizr.js"></script>

  </head>

<body>

<div class="container">
  <div class="large-12 columns centered-text">
    <h1 class="title">Mythical Eatures</h1>
  </div>
</div>

</div>

<nav class="top-bar" data-topbar role="navigation">
  <section class="top-bar-section">
    <ul>
      <% if current_admin? %>
        <li class="home"><%= link_to "Home", admin_path %></li>
        <li class="orders"><%= link_to "Orders", admin_orders_path %></li>
        <li class="menu"><%= link_to "Menu", admin_items_path %></li>
        <li class="categories"><%= link_to "Categories", admin_categories_path %></li>
      <% else %>
        <% if current_user %>
          <li class="past orders"><%= link_to "Past Orders", orders_path %></li>
          <li class="backpack-icon"><%= link_to image_tag("backpack_icon.png", width: 25), cart_path, class: "active" %></li>
          <li class="backpack-count"><%= link_to "(#{@cart.count_all})", cart_path %></li>
        <% else %>
          <li class="backpack-icon"><%= link_to image_tag("backpack_icon.png", width: 25), cart_path, class: "active" %></li>
          <li class="backpack-count"><%= link_to "(#{@cart.count_all})", cart_path %></li>
        <% end %>
    <% end %>
      <% if current_user %>
        <li><%= link_to "Logout", logout_path, method: :delete %></li>
      <% else %>
        <li><%= link_to "Login", login_path %></li>
      <% end %>
      <li><%= link_to "Feast", items_path %></li>
    </ul>
  </section>
</nav>

    <%= flash.notice %>
    <%= yield %>

  </body>
</html>
